# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Built/TS FILES
build/
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env